body {
    
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
}


.frases{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    font-size: 20px
}
.divfrases{
    background-color: rgb(255, 217, 237);
    height: 30px;
    margin: auto;
}
#contenedor{
    width: 90%;
    margin: auto;
    background-color: white;
    max-width: 1400px;
    padding-top: 10px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);

}


header {
    width: 100%;
 
    height: 350px; 
    margin-top: 20px; 
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 5px;

}
header img#banner {
   
    width: 100%;
    height: 100%;
    

}
.banner-area {
    width: 100%;
    background-color: white;
    height: 450px;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 5px;
    object-position: top;
}

.navegador{
    text-decoration: none;
}
nav a{
    display: inline-block;
    width: 15%;
    background-color: rgb(228,73,153);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
    margin-bottom: 20px;

}
nav{
    background-color: rgb(255,199,228);
}


.colecciones{
  
    border-bottom: 2px solid  rgb(255,199,228);
    padding-bottom: 3px;
    margin-bottom: 5px;
    
}

.imagenes{
border-spacing: 10px;
}

.imagenes img{
width: 100%;
height: auto;
display: block;
transition: transform 0.3s;
}

.imagenes img:hover {
transform: scale(1.2);
}


video{
    width: 100%;
    height: 500px;
    padding: 10px;
}


#fondito{
    background-color: rgb(255,199,228) ;
    font-size: 18px;
}

.redes{

    width: 3%;
    height: auto;
    margin-top: 20px;
    margin-right: 20px ;
    margin-left: 20px ;
    padding: 15px;
}

.derechos{
    text-decoration: none;
    color: black;
}


.alado-tablas {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.alado-tablas table {
    margin: 0 auto; 
}
#banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 5px;

    object-position: top;
 
}